In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# Load the counties shapefile from the census bureau
blockgroups_url = "https://www2.census.gov/geo/tiger/TIGER2024/BG/tl_2024_48_bg.zip"
blockgroups_path = "C:/Python3/notebooks/travis_tx_aian_cnt-map/tl_2024_48_bg.zip" #downloaded because of firewall issue?
blockgroups = gpd.read_file(blockgroups_path)

# Simplify county boundaries to save memory
blockgroups.loc[:, 'geometry'] = blockgroups['geometry'].simplify(tolerance=0.001)

blockgroups.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,GEOIDFQ,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,48,215,024403,1,482150244031,1500000US482150244031,Block Group 1,G5030,S,2612569,0,+26.3007548,-097.9852980,"POLYGON ((-97.99352 26.30795, -97.9774 26.3082..."
1,48,471,790101,2,484717901012,1500000US484717901012,Block Group 2,G5030,S,4795448,47753,+30.9074958,-095.4874927,"POLYGON ((-95.50068 30.91437, -95.49717 30.916..."
2,48,471,790102,1,484717901021,1500000US484717901021,Block Group 1,G5030,S,57105300,1356845,+30.8346930,-095.4676622,"POLYGON ((-95.52161 30.82675, -95.51936 30.841..."
3,48,215,024600,1,482150246001,1500000US482150246001,Block Group 1,G5030,S,18109743,0,+26.3714016,-097.9668206,"POLYGON ((-98.00247 26.36765, -97.99862 26.389..."
4,48,215,024600,2,482150246002,1500000US482150246002,Block Group 2,G5030,S,4897517,0,+26.3017062,-097.9297734,"POLYGON ((-97.94511 26.30868, -97.91306 26.309..."

In [3]:
# Read the dataset from the file and convert to pandas
aian_data_path = "C:/Python3/notebooks/travis_tx_aian_cnt-map/ACSDT5Y2023.B02010-Data.csv"
aian_data = pd.read_csv(aian_data_path)

# Show the loaded dataset
print("block groups to map: ", len(aian_data))
aian_data.head()

block groups to map:  766

,GEO_ID,NAME,B02010_001E,B02010_001M
0,1500000US484530001011,Block Group 1; Census Tract 1.01; Travis Count...,23,37
1,1500000US484530001012,Block Group 2; Census Tract 1.01; Travis Count...,0,15
2,1500000US484530001013,Block Group 3; Census Tract 1.01; Travis Count...,0,15
3,1500000US484530001014,Block Group 4; Census Tract 1.01; Travis Count...,13,22
4,1500000US484530001021,Block Group 1; Census Tract 1.02; Travis Count...,0,15

In [4]:
# Merge the two datasets
aian_data_blockgroups = blockgroups.merge(aian_data, left_on='GEOIDFQ', right_on='GEO_ID', how='right')

# Pull out needed columns
aian_data_blockgroups = aian_data_blockgroups.loc[:,['GEO_ID', 'NAME', 'B02010_001E', 'geometry']]

# Show final dataset
print("final dataset, block groups to map: ", len(aian_data_blockgroups))
aian_data_blockgroups.head()

final dataset, block groups to map:  766

,GEO_ID,NAME,B02010_001E,geometry
0,1500000US484530001011,Block Group 1; Census Tract 1.01; Travis Count...,23,"POLYGON ((-97.75553 30.33075, -97.75528 30.336..."
1,1500000US484530001012,Block Group 2; Census Tract 1.01; Travis Count...,0,"POLYGON ((-97.76454 30.32971, -97.75708 30.337..."
2,1500000US484530001013,Block Group 3; Census Tract 1.01; Travis Count...,0,"POLYGON ((-97.75516 30.3177, -97.75348 30.3205..."
3,1500000US484530001014,Block Group 4; Census Tract 1.01; Travis Count...,13,"POLYGON ((-97.75718 30.30897, -97.75571 30.321..."
4,1500000US484530001021,Block Group 1; Census Tract 1.02; Travis Count...,0,"POLYGON ((-97.78104 30.33242, -97.77693 30.335..."

In [5]:
# Write dataset to geojson file
aian_data_blockgroups.to_file('C:/Python3/notebooks/travis_tx_aian_cnt-map/aian_data_blockgroups.js', driver="GeoJSON")